* {
    margin: 0;
    padding: 0;
}

/* common shared style */
.container {
    width: 83%;
    max-width: 1320px;
    margin: 0 auto;
}

.mw {
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 430;
    font-size: 20px;
}

/* Header section styles */
.banner {
    background-image: linear-gradient(#070211, #07021100), url('./images/Banner\ Image.png');
    height: 600px;
    border-radius: 16px;

}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-heading1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    width: 632px;
    padding-left: 344px;
}

/* Main section styles */

.categories div {
    display: block;
}

.off-heading {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}

.deals-heading {
    color: #F00;

    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

.all-categories-heading {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.ny-img {
    width: 800px;
    height: 500px;
    padding-top: 51px;
    padding-left: 266px;
}


.party-banner {
    background-image:linear-gradient(90deg, #070211, #07021100) , url('./images/Vectorrr.png') ;
    background-position:left ;
    height: 600px;
    border-radius:15px;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 125px;
}

.party-heading {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    letter-spacing: 7.04px;
    padding-top: 130px;
    padding-left:126px ;
}

.party-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    padding-top:25px;
    padding-left: 126px;
}

.party-join {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding:50px 378px 0 0px;
}
.vector-2024{
    padding:85px 138px 50px 55px;
}


/* Footer section styles */