* {
    margin: 0;
    padding: 0;
}

/* common shared style */
.container {
    width: 83%;
    max-width: 1320px;
    margin: 0 auto;
}

.mw {
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 430;
    font-size: 20px;
}

/* Header section styles */
.banner {
    background-image: linear-gradient(#070211, #07021100), url('./images/Banner\ Image.png');
    height: 600px;
    border-radius: 16px;

}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-heading1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    width: 632px;
    padding-left: 344px;
}

/* Main section styles */

.categories div {
    display: block;
}

.off-heading {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}

.deals-heading {
    color: #F00;

    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

.all-categories-heading {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.ny-img {
    width: 800px;
    height: 500px;
    padding: 51px 0 0 266px;
}

/* MIDNIGHT PARTY SECTION */

.party-banner {
    background-image: linear-gradient(90deg, #070211, #07021100), url('./images/Vectorrr.png');
    background-position: left;
    height: 600px;
    border-radius: 15px;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 125px;
}

.party-heading {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    letter-spacing: 7.04px;
    padding: 130px 0 0 126px;
}

.party-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    padding: 25px 0 0 126px;
}

.party-join {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 378px 0 0px;
}

.vector-2024 {
    padding: 85px 138px 50px 55px;
}

/* SCHEDULE SECTION */

.red {
    color: red;
}

.routine {
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.routine-des {
    padding-top: 120px;
}

.join-now-btn {
    border-radius: 8px;
    border: 0;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.joinnow-btn {
    padding: 59px 0 0 600px;
}

.schedule {
    background-image: linear-gradient(180deg, #e4c1c1e0, #FF000000);
    height: 482px;
    display: block;
    margin-top: 125px;
}


/* BEST OFFER SECTION STYLES */

.best-offer-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-trap {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 16px;
}

.best-offer-description {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    padding-top: 24px;
}

.best-offer-ad {
    display: block;
    margin-right: 70px;
    padding-top: 80px;
}

.best-offer-year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.best-offer-time-description {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    padding-top: 16px;
}

.best-offer-time {
    display: block;
    padding: 80px 0 0 120px;
}

.new-year-logo {
    padding-top: 46px;
}

.fake-friends {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 25px;
    background: #FFF;
}

.best-offer-container {
    display: flex;
    margin-top: 130px;
}

/* HOLIDAYS SALE SECTION STYLE */
.holidays-sale {
    margin-top: 130px;
    background: #FFF;
}

.holidays-sale-heading {
    color: #070211;
    font-size: 24px;
    font-weight: 510;
}

.holidays-sale-heading2 {
    color: #070211;
    font-size: 72px;
    padding-top: 18px;
}

.holidays-sale-description {
    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    font-weight: 500;
    text-align: center;
    padding: 29px 0 65px 130px;
}

.holidays-sale-intro {
    text-align: center;
}

#holidays-sale-images4 {
    margin-bottom: -640px;
}

#holidays-sale-images2 {
    margin-left: 736px;
}

#holidays-sale-images1 {
    margin: 0px 0 -309px 890px;
}


/* PORTFOLIO SECTION */


.portfolio {
    margin-top: 120px;
}

.portfolio-heading-1 {
    font-size: 24px;
    font-weight: 500;
}

.portfolio-heading-2 {
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    padding-top: 16px;
}

.portfolio-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    padding-top: 22px;
}

.portfolio-images img {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    padding: 6px
}

.portfolio-images {
    padding-top: 45px;
    ;
}

.portfolio-images img:hover {
    transform: scale(1.01);
    transition: all 0.1s ease-in;
}


/* NEWSLETTER SECTION STYLES */


.newsletter {
    height: 616px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
}

.newsletter img{
    padding-top: 80px;
}
.subscribe-text {
    color: #070211;
    text-align: center;
    font-size: 48px;
    text-transform: capitalize;
    padding-top: 43px;
}

.subscribe-paragraph {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    padding: 23px 0 48px 180px;
}

input[type="email"] {
    width: 500px;
    height: 72px;
    border: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: white;
}

input[type="placeholder"] {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: inter, serif;
    font-size: 20px;
    font-weight: 400;

}

.btn-2 {
    border: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 71px;
    font-size: 20px;
    font-weight: 600;
    border-left: 2 px;
}

.btn-div {
    padding-left: 320px;
    display: flex;
}


/* Footer section styles */


.footer {
    height: 609px;
    background-color: #070211;
    padding-top: 140px;
    margin-top: 130px;
}

.footer-section-1 {
    display: flex;
    justify-content: space-around;
}

.text1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.contact-details{
height: 240px;
}

.contact-icon {
    display: flex;
    text-align: center;
}

hr {
    width: 1320px;
    height: .01px;
    background-color: rgba(109, 98, 98, 0.221);  
}

.social-links{
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}

.icon-gap{
 padding-left: 25px;
}

.link{
    display: flex;
    justify-content: space-around;
    padding-top: 85px;
}

a{
    text-decoration: none;
}